6_week/.DS_Store
.DS_Store
.DS_Store
2_assignment/.vscode/settings.json
6_week/.DS_Store
6_week/parcel_project/.vscode/settings.json
6_week/Practice_lessons0103/.vscode/settings.json
6_week/.DS_Store
.DS_Store
