* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
  background-image: url('https://images.unsplash.com/photo-1505765050516-f72dcac9c60e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-color: lightgray;
  font-family: 'Lato', sans-serif;
}

header {
  background-image: linear-gradient(rgb(84, 70, 170), slateblue);
  border: 1px solid slateblue;
  padding: 0.5em 1em;
  color: white;
  box-shadow: 0 3px black;
}

main {
  height: 100vh;
  background-image: linear-gradient(white, rgb(255, 255, 255, 0.4));
  backdrop-filter: blur(3px);
  padding: 0 1em;
}

h4 {
  margin-bottom: 0.5em;
}

#btn-pin,
#btn-done {
  padding: 1em 2em;
  margin: 1em 0.5em;
  background-image: linear-gradient(rgb(84, 70, 170), slateblue);
  border: 1px solid slateblue;
  border-radius: 2em;
  color: white;
  box-shadow: 1px 1px 1px rgb(74, 59, 170, 0.5);
}

#btn-add:hover,
#btn-pin:hover,
#btn-done:hover {
  filter: brightness(93%);
}

/* Add a task */
.container-add_item {
  padding: 0 0.5em;
  display: flex;
}

.container-add_item input {
  margin: 0.5em 0;
  padding: 0.8em;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: inline-block;
  width: 40vw;
}

.material-icons {
  font-size: 2em;
  color: slateblue;
  border: none;
}

#btn-add {
  display: inline-block;
  border: none;
  background: none;
  margin-left: 1em;
}

/* Tasks */
.finished-tasks {
  padding: 0 0.5em;
}

.container-tasks h3 {
  padding: 0.5em;
}

ul {
  list-style-type: none;
}

.itemList li {
  padding: 0.5em;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  max-width: 50vw;
  margin: 0.5em;
}

input[type='checkbox']:checked {
  filter: grayscale(100%) brightness(130%);
}

/* Pinned task */
li.pinned {
  background-color: slateblue;
  color: white;
}

/* Log */
.finished-tasks {
  border-top: 1px solid lightgray;
  padding-top: 1em;
}

.finished-tasks li {
  margin-left: 0.5em;
  font-style: italic;
  text-decoration: line-through solid gray 1px;
}

@media (max-width: 576px) {
  body {
    width: 100%;
  }
}
